.sideMenu {
    font-family:'Times New Roman', Times, serif;
    width:250px;
    background-color:aqua;
    height:100%;
    position:fixed;
    font-size:23px;
    padding-top:20px;
}
.sideBar {
    background-color: aqua;
    float: left;
    color: black    ;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    padding:21px 1px;
    width:246px;
    
}
    .sideBar:hover {
        background-color: whitesmoke;
        width: 250px;
        font-size: 25px;
    }
    .hyperlink {
        text-decoration:none;
        color:black;
    }
        .hyperlink:hover {
            text-decoration:none;
            color:black;
            font-size:25px
        }